.form-container {
    margin-bottom: 20px;
  }
  
  .lista-citas {
    margin-top: 10px; 
  }
  
  ion-item {
    --min-height: 50px; 
  }
  
  ion-button {
    margin: 5px 0; 
  }
  
  .error {
    color: red;
    font-size: 0.9em;
    margin-left: 16px;
  }
  
