<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverAInicio()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configuraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Permitir eliminar citas en inicio</ion-label>
    <ion-toggle [(ngModel)]="permitirEliminar" (ionChange)="actualizarPermitirEliminar()"></ion-toggle>
  </ion-item>
</ion-content>


